.chats-page-container {
    display: flex;
    width: 90vw;
    height: 100vh;
}

.chat-sidebar {
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 15%;
    height: 95vh;
    padding: 10px;
    border-right: 1px solid white;
}

.chat-sidebar h3 {
    padding: 5px;
    margin: 0 0 5px 0;
    border-radius: 10px;
    background: black;
}

.chat-sidebar hr {
    width: 100%;
    background: white;
}

.chat-user-div {
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    background: black;
    color: white;
    cursor: pointer;
    margin: 5px 0;
    transition: 0.2s ease;
}

.chat-user-div:hover {
    background: grey;
}

.active-chat {
    border: 2px solid #fffece;
    background: #8ab2a6;
    color: #18230f;
}

.chat-doodle {
    margin-top: 15px;
    border-radius: 20px;
    background-image: url("/chat-doodle-img.webp");
    background-size: contain;
    height: 100%;
    width: 100%;
}

.chat-main {
    gap: 5px;
    border-radius: 7px;
    margin: auto;
    height: 98vh;
    margin-left: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    background-color: black;
}

.chat-header strong {
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.chat-window {
    border-radius: 7px;
    background: black;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.no-chatroom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: black;
    border-radius: 20px;
}

.no-chatroom img {
    height: 50px;
}

.messages-box {
    background: #2c2c2c;
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 8px;
    padding: 5px;
    border-radius: 5px;
}

.my-message {
    background-color: #f7cfd8;
    color: black;
}

.other-message {
    background-color: #a6d6d6;
    color: black;
}

.chat-form {
    background: black;
    display: flex;
    gap: 10px;
}

.chat-form input {
    background: #2c2c2c;
    color: white;
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.chat-form button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.keyboard-container {
    margin-top: 5px;
}

.react-simple-keyboard .hg-button {
    color: black;
}
