.navbar {
    min-width: 25%;
}

.chat-header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.chats-page {
    width: 80%;
}

.chat-users {
    width: 25%;
}

.chat-user-div:hover{
    background : grey;
}

.active { 
    /* font-weight: bold; */
  color: #57B4BA;
}

.react-simple-keyboard .hg-button {
    color: black; 
}