.register-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:0;
    height: 90vh;
  }

  .register-div > form > label > input {
    /* margin-left: 10px; */
    outline: none;
    border: 1px solid #2C2C2C;
    border-radius: 5px;
}

.register-div > form > label > input:focus {
  outline: none;
  border: 1px solid #2C2C2C;
  background: #000000;
  color: white;
}