.marquee {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: scroll 10s linear infinite;
  }


  
.marquee-content h1 {
    display: inline-block;
    margin: 0 20px;
    font-size: 35px;
}
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  


.h1-one {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.h1-two {
    font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.h1-three{ 
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.h1-four {
    font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.h1-five {
  font-family: "Train One", system-ui;
  font-weight: 400;
  font-style: normal;
}

p > a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color:rgb(170, 169, 169);
}

.footer-links > p {
  margin:0;
  padding: 0;
  margin-top: 10px;
}

p > a:hover {
  color:rgb(210, 205, 205);
}

@media screen and (max-width: 425px) {
  .footer-links a {
    font-size: 14px;
  }
}