.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.login-container img {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 100px;
}

.login-div > form > label > input {
    outline: none;
    border: 1px solid #2C2C2C;
    border-radius: 5px;
}

.login-div > form > label > input:focus {
    outline: none;
    border: 1px solid #2C2C2C;
    background: #000000;
    color: white;
}

@media screen and (max-width: 425px){
    .login-container {
        margin: 0 auto;
        width: 90%;
    }

    .login-container img {
        height: 70px;
    }
}