.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.auth-container img {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 100px;
}

.auth-card {
    border-radius: 20px;
    padding: 30px 25px;
    /*border: 3px solid #2c2c2c;*/
    align-items: center;
    justify-content: center;
    gap: 15px;
    min-width: 320px;
}

.auth-card h1 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 1px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 320px;
}

.auth-form label {
    display: flex;
    flex-direction: column;
}

.auth-form p {
    margin: 5px 0;
    text-align: center;
    font-weight: 500;
}

.auth-form input {
    outline: none;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    padding: 5px 10px;
    height: 35px;
    background: transparent;
    transition: all 0.3s ease;
}

.auth-form input:focus {
    background: #2c2c2c;
    color: white;
    border-color: #67ae6e;
}

.auth-btn {
    background-color: #67ae6e;
    color: white;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.auth-btn:hover {
    background-color: #5a9b5f;
    color: black;
    transform: scale(1.02);
}

.auth-btn:disabled {
    background-color: #3b6d41;
    cursor: not-allowed;
}

.auth-link {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #328e6e;
}

.error-message {
    color: #ff4d4d;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 425px) {
    .auth-container {
        width: 90%;
        margin: 0 auto;
    }

    .auth-container img {
        height: 70px;
    }

    .auth-card {
        height: auto;
        padding: 25px 20px;
    }
}
